# **Naive Bayes Classification.......**

In [257]:
# importing the libraries
import pandas as pd # data processing, CSV file 
from sklearn.naive_bayes import GaussianNB

Importing the dataset..

In [258]:
dataset=pd.read_csv('/content/sample_data/daily_show_guests.csv')

Returns tuple of shape (Rows, columns) of dataframe/series

In [259]:
dataset.shape

(2693, 5)

Returning top n (by default value 5) rows of  data frame

In [260]:
dataset.head()

   YEAR GoogleKnowlege_Occupation     Show   Group    Raw_Guest_List
0  1999                     actor  1/11/99  Acting    Michael J. Fox
1  1999                  Comedian  1/12/99  Comedy   Sandra Bernhard
2  1999        television actress  1/13/99  Acting     Tracey Ullman
3  1999              film actress  1/14/99  Acting  Gillian Anderson
4  1999                     actor  1/18/99  Acting  David Alan Grier

Prints information about the DataFrame

In [261]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2693 entries, 0 to 2692
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   YEAR                       2693 non-null   int64
 1   GoogleKnowlege_Occupation  2667 non-null   object
 2   Show                       2693 non-null   object
 3   Group                      2662 non-null   object
 4   Raw_Guest_List             2693 non-null   object
dtypes: int64(1), object(4)
memory usage: 105.3+ KB

Label Encoder for encoding the levels of categorical features into numeric values; Fit label encoder and return encoded labels..

In [262]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
dataset['YEAR']=encoder.fit_transform(dataset['YEAR'])
dataset['GoogleKnowlege_Occupation']=encoder.fit_transform(dataset['GoogleKnowlege_Occupation'])
dataset['Show']=encoder.fit_transform(dataset['Show'])
dataset['Group']=encoder.fit_transform(dataset['Group'])
dataset['Raw_Guest_List']=encoder.fit_transform(dataset['Raw_Guest_List'])

Split the data into features and targets

In [263]:
features=["YEAR","GoogleKnowlege_Occupation","Show","Raw_Guest_List"]
target=["Group"]

In [264]:
# training and testing data
from sklearn.model_selection import train_test_split
# assign test data size 35%
x_train,x_test,y_train,y_test=train_test_split(dataset[features],dataset[target],test_size=0.35,random_state=70)

In [265]:
# import Gaussian Naive Bayes classifier
from sklearn.naive_bayes import GaussianNB
# importing accuracy score
from sklearn.metrics import accuracy_score
# importing confusion matrix,classification report
from sklearn.metrics import confusion_matrix,classification_report
scores=[]
# create a Gaussian Classifier
classifier=GaussianNB()
# training the model
classifier.fit(x_train,y_train)
# testing the model
pred=classifier.predict(x_test)
# passing actual and predicted values
# printing the matrix
print(confusion_matrix(y_test,pred))

[[  0   9   0   0   0   0   0   0   0  24   0   0   0   0   0   0   0   0]
 [  0 328   0   0   0   0   0   0   0  17   0   0   2   0   0   0   0   0]
 [  0   5   0   0   0   0   0   0   0   2   0   0   0   0   0   0   0   0]
 [  0   7   0   0   0   0   0   0   0  12   0   0   0   0   0   0   0   0]
 [  0   4   0   0   0   0   0   0   0   4   0   0   0   0   0   0   0   0]
 [  0   1   0   0   0   0   0   0   0   3   0   0   0   0   0   0   0   0]
 [  0  23   0   0   0   0   0   0   0  27   0   0   0   0   0   0   0   0]
 [  0   2   0   0   0   0   0   0   0   4   0   0   0   0   0   0   0   0]
 [  0   4   0   0   0   0   0   0   0   9   0   0   0   0   0   0   0   0]
 [  0  72   0   0   0   0   0   0   0 183   0   0   0   0   0   0   0   0]
 [  0   1   0   0   0   0   0   0   0   5   0   0   0   0   0   0   0   0]
 [  0   5   0   0   0   0   0   0   0   7   0   0   0   0   0   0   0   0]
 [  0  17   0   0   0   0   0   0   0  18   0   0   0   0   0   0   0   0]
 [  0   2   0   0   0   0   0   0   0   5   0   0   0   0   0   0   0   0]
 [  0  15   0   0   0   0   0   0   0  97   0   0   1   0   1   0   0   0]
 [  0   0   0   0   0   0   0   0   0   9   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   0   0   0  13   0   0   1   0   2   0   0   0]]

In [266]:
# printing the report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        33
           1       0.66      0.95      0.78       347
           2       0.00      0.00      0.00         7
           3       0.00      0.00      0.00        19
           4       0.00      0.00      0.00         8
           5       0.00      0.00      0.00         4
           6       0.00      0.00      0.00        50
           7       0.00      0.00      0.00         6
           8       0.00      0.00      0.00        13
           9       0.42      0.72      0.53       255
          10       0.00      0.00      0.00         6
          11       0.00      0.00      0.00        12
          12       0.00      0.00      0.00        35
          13       0.00      0.00      0.00         7
          14       0.33      0.01      0.02       114
          15       0.00      0.00      0.00         9
          16       1.00      0.50      0.67         2
          17       0.00      0.00      0.00        16

    accuracy                           0.54       943
   macro avg       0.13      0.12      0.11       943
weighted avg       0.40      0.54      0.43       943

In [267]:
# printing the accuracy of the model
print(accuracy_score(y_test,pred))

0.5440084835630965